<div class="flex items-center gap-1 text-sm">
  <span>{{ product.metafields.custom.bundle_product_content }}</span>
</div>

{% if product.metafields.custom.choose_your_fragrances_options != blank %}
  <div
    id="price-{{ section.id }}"
    class="bundle-price-pdp"
    role="status"
    {{ block.shopify_attributes }}>
    {% if product.compare_at_price > product.price %}
      {% assign discount = product.compare_at_price | minus: product.price %}
      {% assign discount_percent = discount | times: 100 | divided_by: product.compare_at_price | round %}
    {% endif %}

    <div class="flex flex-wrap items-center gap-x-3 text-xl">
      {% if product.compare_at_price > product.price %}
        <span class="text-red-600 font-bold discount-percent">
          -{{ discount_percent }}%
        </span>
      {% endif %}

      <span class="text-black font-bold product-price">
        {{ product.price | money }}
      </span>

      {% if product.compare_at_price > product.price %}
        <span class="text-gray-500 font-semibold line-through compare-price">
          Designerpreis: {{ product.compare_at_price | money }}
        </span>
      {% endif %}
    </div>
    <div class="text-lg font-semibold text-black leading-normal">
      Das entspricht nur {{ product.price | divided_by: product.metafields.custom.choose_your_fragrances_options | money }} pro Flasche.
    </div>
  </div>
{% endif %}

{% assign bundle_collection = collections['best-sellers'] %}
{% assign product_count = product.metafields.custom.choose_your_fragrances_options %}
{% assign dropdown_ml = product.metafields.custom.select_bundle_dropdown_ml | default: "50" %}
{% assign bundle_ml = dropdown_ml | append: "ml" %}
{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{%- liquid
  assign next_bundle = product.metafields.custom.next_bundle
  if next_bundle != blank
    assign next_bundle_product = next_bundle.value
    assign next_size = next_bundle_product.metafields.custom.select_bundle_dropdown_ml
    assign price_difference = next_bundle_product.price | minus: product.price | money
  endif
-%}

{% if next_bundle != blank %}
  <div class="bg-white border border-gray-200 rounded-lg px-4 py-2.5 mb-4">
    <div class="flex items-center gap-2 text-black">
      <svg
        class="size-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
      </svg>
      <span>Upgrade to
        <a href="{{ next_bundle_product.url }}" class="ml-auto font-medium text-[#22613A] whitespace-nowrap transition-colors">
          {{ next_size }}ML for {{ price_difference }} more.</a>
      </span>
    </div>
  </div>
{% endif %}

<div x-data>
  <div class="flex flex-col gap-3 mb-6 relative pl-10 before:content-[''] before:absolute before:left-3 before:top-6 before:bottom-6 before:w-[0px] before:border-0 before:border-r before:border-dashed before:border-green-700">
    <div class="absolute top-6 left-0 bottom-6 flex flex-col justify-between">
      {% for i in (1..product_count) %}
        <div class="text-white size-7 bg-[#22613A] rounded flex items-center justify-center">{{ i }}</div>
      {% endfor %}
    </div>
    <template x-for="(product, index) in $store.bundleBuilder.selectedProducts" :key="product.id">
      <div class="bg-white border border-solid border-green-700 w-full p-[7px] flex items-center gap-2 justify-between rounded-lg relative">
        {% if product.tags contains 'bogo' %}
          <div x-show="index + 1 === {{ product_count }}" class="bg-[#b72f33] text-white px-2 py-1 font-semibold absolute top-0 right-0 rounded-tr-md leading-none text-sm">Free Bottle</div>
        {% endif %}
        <img
          class="object-cover rounded"
          :src="product.image"
          :alt="product.name"
          width="60"
          height="60">
        <div class="text-left flex flex-col gap-1">
          <div class="font-bold text-lg leading-tight text-black line-clamp-1" x-text="product.name"></div>
          <div class="text-sm line-clamp-1" x-text="product.nuta"></div>
        </div>
        <button @click="$store.bundleBuilder.removeProduct(index)" class="ml-auto size-8 bg-red-50 flex items-center justify-center rounded text-xs cursor-pointer border-0">
          {% render 'icon-trash' %}
        </button>
      </div>
    </template>
    <template x-for="i in ({{ product_count }} - $store.bundleBuilder.selectedProducts.length)" :key="i">
      <button @click="$store.bundleBuilder.showModal = true" class="bg-white border border-solid border-gray-200 flex items-center p-[7px] rounded-lg gap-2 pr-4 cursor-pointer relative">
        {% if product.tags contains 'bogo' %}
          <div x-show="i === {{ product_count }} - $store.bundleBuilder.selectedProducts.length" class="bg-[#b72f33] text-white px-2 py-1 font-semibold absolute top-0 right-0 rounded-tr-md">Free Bottle</div>
        {% endif %}
        {% render 'perfume-icon' %}
        <div class="text-base">
          Wählen Sie Ihr Parfüm
        </div>
        <span class="inline-block ml-auto">{% render 'arrow-down' %}</span>
      </button>
    </template>
  </div>

  <button
    x-data
    @click="{% if product.tags contains 'bogo' %}$store.bundleBuilder.doCheckout(){% else %}$store.bundleBuilder.doATCandCheckout(){% endif %}"
    :disabled="$store.bundleBuilder.selectedProducts.length < {{ product_count }} || $store.bundleBuilder.addingToCart"
    :class="{
        'opacity-50 cursor-not-allowed': $store.bundleBuilder.selectedProducts.length < {{ product_count }},
        'cursor-pointer hover:bg-[#368856]': $store.bundleBuilder.selectedProducts.length >= {{ product_count }}
      }"
    class="w-full flex flex-wrap items-center !mb-0 text-2xl !pb-3 !pt-3 rounded-lg button bg-[#22613a] transition-colors shadow-xl tracking-normal button--full-width">
    <span x-show="$store.bundleBuilder.selectedProducts.length < {{ product_count }}" x-text="'NOCH ' + ({{ product_count }} - $store.bundleBuilder.selectedProducts.length) + ' AUSWÄHLEN'"></span>
    <div class="flex" x-show="$store.bundleBuilder.selectedProducts.length === {{ product_count }}">JETZT KAUFEN
      <div class="ml-2 pl-2 border-0 border-l flex items-center border-solid border-gray-200/20">
        <div
          class="inline-block text-lg bg-[#1E5834] px-3 rounded"
          id="product-price"
          role="status">
          {% if selected_variant.compare_at_price > selected_variant.price %}
            <span class="compare-price line-through text-white/50 text-base">{{ selected_variant.compare_at_price | money }}</span>
          {% endif %}
          <span class="current-price">{{ selected_variant.price | money }}</span>
        </div>
      </div>
    </div>
    <div x-show="$store.bundleBuilder.addingToCart" class="loading__spinner">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="spinner"
        viewBox="0 0 66 66">
        <circle
          stroke-width="6"
          cx="33"
          cy="33"
          r="30"
          fill="none"
          class="path"></circle>
      </svg>
    </div>
  </button>
</div>

<script>
  document.addEventListener('alpine:init', function() {
    Alpine.store('bundleBuilder', {
      selectedVariant: "{{ bundle_ml }}",
      bundleLength: {{ product_count }},
      showModal: false,
      activeCategory: "All",
      searchText: "",
      addingToCart: false,
      selectedProducts: [],
      availableProducts: [
        {% for bundle_product in bundle_collection.products %}
          {
            id: {{ bundle_product.id }},
            name: "{{ bundle_product.title }}",
            image: "{{ bundle_product.featured_image | image_url: width: 120, height: 120 }}",
            nuta: "{{ bundle_product.metafields.custom.nuta |  replace: ',', '' }}",
            inspiration_image: "{{ bundle_product.metafields.custom.inspiration.value.image | image_url: width: 90, height: 90 }}",
            inspiration_name: "{{ bundle_product.metafields.custom.inspiration.value.name }}",
            tags: {{ bundle_product.tags | json }},
            variants: {
              {% for variant in bundle_product.variants %}
                "{{ variant.title | downcase | replace: ' ml', 'ml' }}": {
                  id: {{ variant.id }}
                },
              {% endfor %}
            }
          },
        {% endfor %}
      ],
      isProductVisible(product) {
        const matchesCategory = product.tags.some(tag => {
          return tag === this.activeCategory;
        }) || this.activeCategory === 'All';
        const matchesSearch = this.searchText === '' || product.name.toLowerCase().includes(this.searchText.toLowerCase()) || (product.inspiration_name && product.inspiration_name.toLowerCase().includes(this.searchText.toLowerCase()));
        return matchesCategory && matchesSearch;
      },
      addRemoveProduct(product) {
        if (this.selectedProducts.length < {{ product_count }} && !this.isProductSelected(product.id)) {
          this.selectedProducts.push(product);
          if (this.selectedProducts.length === {{ product_count }}) {
            this.showModal = false;
            // Do auto ATC and redirect to checkout
            {% if product.tags contains 'bogo' %}
              this.doCheckout();
            {% else %}
              this.doATCandCheckout();
            {% endif %}
          }
        } else {
          this.removeProduct(this.selectedProducts.findIndex(item => item.id === product.id));
        }
      },
      removeProduct(index) {
        this.selectedProducts.splice(index, 1);
      },
      isProductSelected(productId) {
        return this.selectedProducts.some(product => product.id === productId);
      },
      doCheckout() {

        this.addingToCart = true;

        const items = this.selectedProducts.map(product => {
          const variantId = product.variants[this.selectedVariant].id;
          return `${variantId}:1`;
        }).join(',');

        window.location = `https://tryscent.co/cart/${items}`;
      },
      doATCandCheckout() {
        // Set loading state
        this.addingToCart = true;
        
        // Create properties object with bundle items
        const properties = {
          "_bundle_items": this.selectedProducts.map(product => 
            product.variants[this.selectedVariant].id
          ).join(',')
        };
        // Add each selected product as a separate property
        this.selectedProducts.forEach((product, index) => {
          properties[`Bottle ${index + 1}`] = 
            `${product.name} Inspired by ${product.nuta} - ${this.selectedVariant}`;
        });
        // Prepare cart items
        const items = {
          items: [{
            id: {{ selected_variant.id }},
            quantity: 1,
            properties: properties
          }]
        };

        // Make the API call
        fetch('/cart/add.js', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(items),
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(() => {
          // Redirect to cart after successful addition
          window.location.href = '/checkout';
        })
        .catch(error => {
          console.error('Error adding to cart:', error);
          // Handle error (e.g., show error message to user)
        })
        .finally(() => {
          this.addingToCart = false;
        });
      }
    });
  });
</script>

<div class="my-6">
  <div class="flex items-center gap-3 text-base">
    <img
      src="https://cdn.shopify.com/s/files/1/0623/0691/0402/files/thimbs_up.png?v=1751372431"
      alt="Thumbs up badge"
      class="w-10 h-10 flex-shrink-0"
      width="40"
      height="40" />
    <div class="text-slate-900">
      <strong class="font-semibold">Teste es 60 Tage lang – völlig risikofrei.</strong>
      <div class="[display:none] md:block">Sollten Sie nicht absolut begeistert sein, erstatten wir Ihnen den vollen Betrag zurück!</div>
    </div>
  </div>
</div>