{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding bg-cover bg-center"
  style="background-color: {{ section.settings.background_color }}; background-image: url('{{ section.settings.background_image | image_url }}');">
  <div class="page-width">
    <div class="flex items-center justify-between mb-6 md:mb-12">
      <div>
        {% if section.settings.heading != blank %}
          <h2 class="text-3xl md:text-4xl font-black my-0">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.settings.subheading != blank %}
          <p class="text-center mb-12">{{ section.settings.subheading }}</p>
        {% endif %}
      </div>
      <div class="[display:none] md:block">
        <a href="{{ section.settings.collection.url }}" class="px-4 py-2 border-2 border-solid border-black bg-white font-bold text-sm uppercase tracking-wide hover:bg-black text-black hover:text-white transition-colors cursor-pointer inline-block no-underline">
          {{ section.settings.show_all_button_text }}
        </a>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-3 md:grid-cols-4 products-grid">
      {% for product in section.settings.collection.products limit: 4 %}
        {% render 'product-card'
          , product: product %}
      {% endfor %}
    </div>
    <div class="text-center pt-14 md:hidden">
      <a href="{{ section.settings.collection.url }}" class="px-4 py-2 border-2 border-solid border-black bg-white font-bold text-sm uppercase tracking-wide hover:bg-black text-black hover:text-white transition-colors cursor-pointer inline-block no-underline">
        {{ section.settings.show_all_button_text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Popular Products",
    "class": "popular-products",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Beliebte Produkte"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Entworfen und formuliert für Qualität."
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "show_all_button_text",
        "label": "Show Button Text",
        "default": "Alle anzeigen"
      }, {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Popular Products"
      }
    ]
  }
{% endschema %}