<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script defer="" src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding"
  style="background-color: {{ section.settings.background_color }}">
  <div class="page-width">

    {% if product.metafields.custom.similar_scents != blank %}
      <div class="mt-4 pt-4 border-0 border-t border-solid border-gray-200">
        <p class="mt-0 text-[10px] font-serif text-center leading-tight">Parfums mit ähnlichen Duftnoten</p>
        {% assign similar_scents = product.metafields.custom.similar_scents.value %}
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for similar_scent in similar_scents %}
              <div class="swiper-slide">
                <div class="flex flex-col md:flex-row gap-2 items-center">
                  <img
                    class="object-cover border border-solid border-gray-200"
                    height="60"
                    width="60"
                    src="{{ similar_scent.image | image_url: width: 100 }}"
                    alt="{{ similar_scent.title }}">
                  <div class="text-center md:text-left">
                    <div class="text-sm font-semibold text-black line-clamp-1">
                      {{ similar_scent.title }}
                    </div>
                    <div class="text-sm font-bold text-gray-600 my-1">
                      {{ similar_scent.price.value | money }}
                    </div>
                    <div class="text-[10px] leading-none {% if similar_scent.similarity == 'Perfekte Übereinstimmung' %}text-green-600{% else %} text-yellow-600 {% endif %}">
                      {{ similar_scent.similarity }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <button class="swiper-button-next p-0 !size-7 !right-0 rounded-full border border-solid !border-gray-200 bg-white/60 filter backdrop-blur-sm after:text-black after:!text-xs"></button>
          <button class="swiper-button-prev p-0 !size-7 !left-0 rounded-full border border-solid !border-gray-200 bg-white/60 filter backdrop-blur-sm after:text-black after:!text-xs"></button>
        </div>
      </div>
      <script>
            document.addEventListener('DOMContentLoaded', function() {
                new Swiper('.swiper', {
                    slidesPerView: 1,
                    spaceBetween: 10,
                    loop: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            });
      </script>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Similar Scents",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Parfums mit ähnlichen Duftnoten"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Die clevere Alternative zu überteuerten Luxusmarken."
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Similar Scents"
      }
    ]
  }
{% endschema %}